#title{
  display: flex;
  justify-content: center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
#img-caption{
  display: flex;
  justify-content: center;
}

#tribute-info{
  display: flex;
  justify-content: center;
}

#link-text{
  display: flex;
  justify-content: center;
}

#tribute-link{
  margin-left: 5px;
}